{% extends "/frontoffice/base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="container my-4 border-0 rounded-2">
        <div class="row gy-4">
            <div class="col-12 col-sm-9 text-center text-sm-start ps-sm-4 fw-bold fs-2">
                {{ post.title }}
            </div>
            <div class="col-12 col-sm-2 offset-sm-1 align-items-center text-center">
                lastUpdateDate : {{ post.lastUpdateDate }}
                creationDate : {{ post.creationDate }}
            </div>
        </div>

        <div class="py-4 row">
            <div class="col">
                {{ post.lede }}
            </div>
        </div>

        <div class="py-4 row">
            <div class="col">
                {{ post.content }}
            </div>
        </div>

        <h4 class="">Commentaires :</h4>
        {%  for comment in comments %}
            <div class="container shadow my-2">
                <div class="row p-1 fst-italic fs-6">
                    <div class="col-6">
                        <p>Par <span class="fw-bold">{{ user.firstName ~ ' ' ~ user.name }}</span></p>
                    </div>
                    <div class="col-sm-4">
                        le {{ comment.creationDate }}
                    </div>
                </div>
                <div class="row p-3 bg-dark-subtle">
                    <div class="col">
                        {{ comment.content }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container text-end">
        <p><a href="index.php?action=posts" class="link-info link-underline-info link-offset-2 link-offset-1-hover">Revenir à l'ensemble des posts</a></p>
    </div>
{% endblock %}