{% extends "/backoffice/base.html.twig" %}

{% block title %}Modification d'un post{% endblock %}

{% block content %}
    {% for flash in flashes.error %}
        <p class="text-danger my-4 fw-bold text-center">{{ flash }}</p>
    {% endfor %}
    <div class="container p-4 bg-primary my-4 rounded-3">
        <h1 class="fs-4 text-center mt-2">Modifier un post :</h1>
        <form action="" method="POST" class="form-group text-light">
            <div class="col-10 offset-1 my-2">
                <label for="title" class="form-label">Titre du post</label>
                <input type="text" id="title" name="title" class="form-control" value="{% if inputs.title is defined %}{{ inputs.title }}{% else %}{{ post.title }}{% endif %}" required>
            </div>
            <div class="col-10 offset-1 my-2">
                <label for="lede" class="form-label">Chapô du post</label>
                <textarea id="lede" name="lede" rows="3" class="form-control" required>{% if inputs.lede is defined %}{{ inputs.lede }}{% else %}{{ post.lede }}{% endif %}</textarea>
            </div>
            <div class="col-10 offset-1 my-2">
                <label for="content" class="form-label">Contenu du post</label>
                <textarea id="content" name="content" rows="15" class="form-control" required>{% if inputs.content is defined %}{{ inputs.content }}{% else %}{{ post.content }}{% endif %}</textarea>
            </div>
            <div class="col-10 offset-1 col-sm-2 my-2">
                <label for="author" class="form-label">Auteur du post</label>
                <select name="author" id="author" class="form-select form-select-sm">
                    <option selected value="{{ post.firstname ~ ' ' ~ post.name }}">{{ post.firstname ~ ' ' ~ post.name }}</option>
                    {% if updateauthor.id != post.idAuthor %}
                        <option value="{{ updateauthor.firstname ~ ' ' ~ updateauthor.name }}">{{ updateauthor.firstname ~ ' ' ~ updateauthor.name }}</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-8 offset-2 mt-2">
                <button type="submit" class="btn btn-dark w-100" required>Soumettre la modification</button>
            </div>
        </form>
    </div>
{% endblock %}
