{% extends "/backoffice/base.html.twig" %}

{% block title %}Administration des posts{% endblock %}

{% block content %}
    <div class="container p-4">
        {% for flash in flashes.success %}
            <p class="text-success fw-bold text-center">{{ flash }}</p>
        {% endfor %}
        {% for flash in flashes.info %}
            <p class="text-primary fw-bold text-center">{{ flash }}</p>
        {% endfor %}
        <h1 class="fs-4 text-center my-5">Gestion des posts</h1>
        <div class="d-flex justify-content-center mt-4">
            <button onclick="window.location.href = 'index.php?action=adminpostadd';" class="btn btn-primary">Ajouter un post</button>
        </div>
        <table class="table table-sm table-striped table-primary table-hover table-bordered border-light text-center">
            <caption class="fs-4 text-center my-5 caption-top text-dark">Liste des posts :</caption>
            <thead>
            <tr>
                <th>#ID</th>
                <th>Titre</th>
                <th>Date de création</th>
                <th>Auteur</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody class="fs-6 fst-normal">
                {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.creationDate|date("d/m/Y \\à H\\hi") }}</td>
                        <td>{{ post.firstname ~ ' ' ~ post.name }}</td>
                        <td>
                            <a href="index.php?action=admindeletepost&id={{ post.id }}" class="btn btn-warning m-1">Supprimer</a>
                            <a href="index.php?action=adminupdatepost&id={{ post.id }}" class="btn btn-primary m-1">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
