{% extends "/backoffice/base.html.twig" %}

{% block title %}Modification d'un post{% endblock %}

{% block content %}
    <div class="container p-4 bg-primary my-3 rounded-3">
        <h1 class="fs-4 text-center mt-2">Modifier un post :</h1>
        <form action="" method="POST" class="form-group text-light">
            <div class="col-10 offset-1 my-2">
                <label for="title" class="form-label">Titre du post</label>
                <input type="text" id="title" name="title" class="form-control" value="{{ post.title }}" required>
            </div>
            <div class="col-10 offset-1 my-2">
                <label for="lede" class="form-label">Chapô du post</label>
                <textarea id="lede" name="lede" rows="3" class="form-control" required>{{ post.lede }}</textarea>
            </div>
            <div class="col-10 offset-1 my-2">
                <label for="content" class="form-label">Contenu du post</label>
                <textarea id="content" name="content" rows="15" class="form-control" required>{{ post.content }}</textarea>
            </div>
            <div class="col-4 offset-1 col-sm-1 my-2">
                <label for="status" class="form-label">Statut du post</label>
                <select name="status" id="status" class="form-select form-select-sm">
                    <option selected value="{{ post.status }}">{{ post.status }}</option>
                    {% for status in arrayStatus %}
                        {% if post.status != status %}
                            <option value="{{ status }}">{{ status }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-8 offset-2 mt-2">
                <button type="submit" class="btn btn-dark w-100" required>Soumettre la modification</button>
            </div>
        </form>
    </div>
{% endblock %}
